<div class="login-background">
  <div class="login-container">
    <md-card class="login-panel">
      <md-grid-list cols="1" rowHeight="6:1">
        <md-grid-tile>
          <h1>เข้าสู่ระบบ</h1>
        </md-grid-tile>
        <md-grid-tile>
          <div class="button-row">
            <button md-raised-button style="width: 100%;color: #FFFFFF; background-color: #795548" (click)="login(credential)">Login with Gmail</button>
          </div>
        </md-grid-tile>
        <!--<md-grid-tile>
          <div class="button-row">
            <button md-raised-button style="width: 100%" color="primary" (click)="login(credential)">Login</button>
          </div>
        </md-grid-tile>-->
      </md-grid-list>

    </md-card>
  </div>
</div>